* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

nav{
    height: 50px;
    background: #5b78c7;
}

.nav-links{
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    margin-left:auto; 
}

.nav-href{
    text-decoration: none;
    color: white;
}

.landing{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing h1{
    color: #5b78c7;
    margin: 50px;
    font-size: 50px;
}

.copy-right h2{
    color: #5b78c7;
    margin: 50px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .line {
      width: 30px;
      height: 3px;
      background: white;
      margin: 5px;
    }
    nav {
      position: relative;
    }
  
    .hamberger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
    }
  
    .nav-links {
      position: fixed;
      background: #5b78c7;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(10px at 90% -10%);
      -webkit-clip-path: circle(10px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
    }
    .nav-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
    }
    .nav-links li {
      opacity: 0;
    }
    .nav-links li a {
      font-size: 25px;
    }
    .nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.3s;
    }
    .nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.4s;
    }
    li.fade {
      opacity: 1;
    }
}
